body {
    font-family: 'Arial', sans-serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .wrapper {
    background-color: #10BBD5;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header {
    width: 1296px;
    height: 40px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: auto;
  }

  .book {
    text-decoration: none;
    display: flex;
  }
  
  .logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    
  }

  .icon-title {
    width: 26px;
    height: 28px;
  }

  .logo-title {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .basket {
    display: flex;
    width: 99px;
    height: 40px;
  }

  .element-0 {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    border: none;
    background-color: #10BBD5;
  }

  .wheel {
    display: flex;
    gap: 6px;
    padding-top: 5px;
    padding-left: 7px;
  }

  .price {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-right: 8px;
    padding-top: 8px;
  }
  

  
  .features {
    display: flex;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: white;
    width: 1296px;
  }


  .about-list {
    list-style-type: none;
    display: flex;
  }

  li {
    padding-right: 40px;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }

  .hero {
    text-align: center; 
    background-color: #EEEEEF;
    padding-bottom: 120px;
  }

  .hero-title{
    display: flex;

    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; 
    max-width: 1296px;
    margin: auto;
    padding-bottom: 23px;
    padding-top: 32px;
  }

  hr {
    max-width: 1296px;
    margin: auto;
    
    height: 1px;
    flex-shrink: 0;
  }

  .grid-conteiner {
    display: grid;
    background-color:#EEEEEF ;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 32px;
    max-width: 1296px;
    margin: auto;
    padding-top: 24px;
  }


  .item-1 {
    width: 306px;
    height: 512px;
    border: 1px solid gray;
    background-color: #F8FDFE;
  }

  .product-conteiner {
    height: 512px;
    width: 242px;
    margin: auto;
  }

  .product-sale-1 {
    background-color: #AF39E7;
    background-size: contain;
    color: white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 47px;
    height: 32px;
    display: flex;

    position: relative;
    top: 32px;
  }

  .percent {
    background-color: #EA33C0;
    background-size: contain;
    color: white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 70px;
    height: 32px;
    display: flex;

    position: relative;
    
    top: 32px;
  }

  .sale-conteiner {
    display: flex;
    position: relative;
    gap: 7px;
  }

  .product-1 {
    padding-top: 32px;
  }

  .product-sale {
    background-color: #4200FF;
    background-size: contain;
    color: white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 36px;
    height: 32px;
    display: flex;

    position: relative;
    top: 32px;
    
  }


  .product-text {
    display: flex;
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .money {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 

    display: flex;
    margin-bottom: 16px;
    margin-top: 8px;

  }

  .button-product {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 40px;
    

     background-color: #4C394E;
     color: var(--white, #F8FDFE); 
     text-align: center;
     font-family: Cabin;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; 
  }

  .button-product-1 {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 40px;
    

     background-color: #4D762D;
     color: var(--white, #F8FDFE); 
     text-align: center;
     font-family: Cabin;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; 
  }

  .product-title {
    display: flex;
    border-bottom: 1px solid #A8A8A8;
    
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin-bottom: 0;
    
  }

  .rights-price {
    display: flex;
  }

  .price-sale {
    text-decoration: line-through;
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin: 0;
    padding-top: 8px;
    padding-left: 24px;
  }

  a {
    text-decoration: none;
  }

  .message {
   position: fixed;
   bottom: 200px;
   right: 100px;
   background-image: url(/img/Ellipse\ 1.svg);
   background-size: cover;
   width: 64px;
   height: 64px;
   flex-shrink: 0;
   border: none;
   background-color: transparent;
  }

  .icon-message {
    display: flex;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
   
  }

  .footer {
    max-width: 1296px;
    height: 88px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  